# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.db_backups
data/supervisor-push.json
.env
firebase-service-account.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Django
__pycache__/
*.pyc
tapal_backend/staticfiles/
tapal_backend/.venv/
tapal_backend/db.sqlite3
tapal_backend/db_backups/
tapal_backend/media/
tapal_backend/**/*.sqlite3
tapal_backend/db.sqlite3